<div id="page-content">
    <h1 class="text-center mt-4"> Create new article </h1>
    
    <%= render 'shared/errors', obj: @article %> 
    
    <!--#scope is model name-->
    <!--#url is rails articles path to which the form has to be submitted-->
    <!--#local : true -> post using std http post request, inplace of remote AJAX. With form_for the default is std http-->
    <%= form_with scope: :article, url: articles_path, local: true do |f| %>
    <div class="row g-3 align-items-center" id="edit-form">
        <div class="row form-group">
             <!--# std text input field field-->
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div class="row form-group">
            <%= f.label :description %>
            <!--#text_area gives a larger input box.. expandable in size-->
            <%= f.text_area :description, rows:10, class: "col-form-control" %>
         </div>
         <div class='col-8'>
            <span class="form-text">
              Max 100 characters limt
            </span>
        </div>
        <div class="md-3">
            <!--#submit button-->
            <%= f.submit class:"btn btn-outline-info"%>
         </div>
    <% end %>
    <%= link_to 'Return to articles listing' %>
    </div>
    </div>
</div>