<div class="container">
  <div class= "row justify-content-center" >
    <div class = "col-10"> 
        <!--<%#= render 'shared/errors', obj: @user %>-->
        <!--Format passes the object inside the fields of the form instead of send a blank form-->
        <!--this will also submit the form to the update action -> call the update URL-->
        <!--#local : true -> post using std http post request, inplace of remote AJAX. With form_for the default is std http-->
        <!--@ user is the form submission path-->
        <%= form_with(model: @user, class: "shadow g-3 align-items-center", local: true) do |f| %>
    
            <div class="form-floating mb-3 col-md-6">                 <!--# std text input field field-->
                <%= f.text_field :username, class: "form-control", placeholder: "Enter username" %>
            </div>
            <div class="form-floating mb-3 col-md-6">                 <!--# std text input field field-->
            <%#= f.label :email, class: "col-form-label" %>
            <!--#text_area gives a larger input box.. expandable in size-->
            <%= f.text_area :email, class: "form-control", placeholder: "Enter email"  %>
            </div>
            <div class="form-floating mb-3 col-md-6">                 <!--# std text input field field-->
                <%= f.text_area :password, id: "floatingInput", class: "form-control", placeholder: "Choose a password" %>
                 <label for="floatingInput">Password</label>
            </div>
            <div class="mb-3 md-3">
                <!--#submit button-->
                <!--button would have "update article" text automatically handled by rails-->
                <!--submit button doesnt need a , after submit-->
                <%#= f.submit "Sign up", class: "btn btn-outline-info" %>
                <!--old format above always displays sign up/ since this is a common form, we want to customize the -->
                <!--button based on the record being updated-->
                <%= f.submit(@user.new_record? ? "Sign up" : "Update Profile", class: "btn btn-outline-info") %>
                <%= link_to "Cancel", signup_path, class: "btn btn-outline-secondary " %>
                <br></br>
            </div>
        <% end %>
    </div>
  </div>
</div>